<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neon Bootstrap Lite</title>

    <script src="/assets/js/data.js"></script>
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/neon/neon.js"></script>
    <script src="/assets/js/vendor/neon/std-lib/CustomEvent.js"></script>
    <script src="/assets/js/vendor/neon/std-lib/CustomEventSupport.js"></script>
    <script src="/assets/js/vendor/neon/std-lib/NodeSupport.js"></script>
    <script src="/assets/js/vendor/neon/std-lib/Widget.js"></script>
    <script src="/assets/js/AppController.js"></script>



    <script>
        $(document).ready(function(){
            window.appController = new AppController({
                element : $('.wrapper')
            });
            window.appController.setup();
        });
    </script>

</head>
<body>
    <div class="wrapper">

    </div>
</body>
</html>